# Ignore hidden files
.*
**/.*

# Ignore backups
*.versionsBackup

# Ignore target directory
target
out
docs/node_modules

.jj


# Don't ignore git special files
!.gitignore
!.gitattributes
!.gitkeep

!.github

# and iDEA
*.iml
