[project]
	description = Injecting maven configurations by composition rather than inheritance
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mark Derricutt (talios)
	owner = group user/Richard Vowles (rvowles)
[access "refs/for/refs/*"]
	read = group user/Mark Derricutt (talios)
	read = group user/Richard Vowles (rvowles)
	push = group user/Mark Derricutt (talios)
	push = group user/Richard Vowles (rvowles)
	label-Code-Review = -2..+2 group user/Mark Derricutt (talios)
	label-Code-Review = -2..+2 group user/Richard Vowles (rvowles)
	label-Verified = -1..+1 group user/Mark Derricutt (talios)
	label-Verified = -1..+1 group user/Richard Vowles (rvowles)
	rebase = group user/Mark Derricutt (talios)
	rebase = group user/Richard Vowles (rvowles)
	removeReviewer = group user/Mark Derricutt (talios)
	removeReviewer = group user/Richard Vowles (rvowles)
	submit = group user/Mark Derricutt (talios)
	submit = group user/Richard Vowles (rvowles)
[access "refs/heads/*"]
	read = group user/Mark Derricutt (talios)
	read = group user/Richard Vowles (rvowles)
	create = group user/Mark Derricutt (talios)
	create = group user/Richard Vowles (rvowles)
	push = group user/Mark Derricutt (talios)
	push = +force group user/Richard Vowles (rvowles)
	pushMerge = group user/Mark Derricutt (talios)
	pushMerge = group user/Richard Vowles (rvowles)
[access "refs/tags/*"]
	push = group user/Mark Derricutt (talios)
	push = +force group user/Richard Vowles (rvowles)
	pushTag = group user/Mark Derricutt (talios)
	pushTag = group user/Richard Vowles (rvowles)
	pushSignedTag = group user/Mark Derricutt (talios)
	pushSignedTag = group user/Richard Vowles (rvowles)
