name: Integration Tests on Java 16

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 16
        uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: 'zulu'
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots install -Prun-its
